
<h1 class="text-center">Menus collection</h1>
<div class="row mt-4 m-0  d-flex flex-row">
 <%= render 'render_menu' %>
  <div class="h5 text-warning">
    <%= link_to 'Back to Main', dishes_path %>
  </div>
</div>
