<h1 class="text-center"> New Menu</h1>

<%= render 'form' %>







<%#= f.fields_for :dish_menus do |dish_fields| %>
<%#= dish_fields.label :price %>
<%#= dish_fields.text_field :price %>
<%# end %>


<%#= f.fields_for :dish_menu do |sub_form| %>
<%#= sub_form.label :price %>
<%#= sub_form.text_field :price %>
<%# end %>
<%#= f.fields_for :dish_menus, @menu.dish_menus.build do |categories_fields| %>
  <%#= categories_fields.text_field :price %>
<%# end %>

<%#= f.fields_for :dishes do |categories_fields| %>
  <%#= categories_fields.text_field :name %>
<%# end %>



