<div class="row">


  <div class='col'>
    <div class="card">
      <div class="card-header d-flex justify-content-center">
        <h2> Dishes </h2>
        <%= link_to  new_dish_path do %>
          <i class="fa fa-plus fs-4"></i>
        <%end %>
      </div>
      <div class="d-flex gap-3 m-3 ">
         <%= render 'dishes' %>

      </div>
    </div>
  </div>
</div>
