<h3 class="text-center"><%= @category.category %>!</h3>
<div class="d-flex justify-content-center">
  <%= button_to @category, method: :delete, class:"btn px-3" do %>
    <i class="fa-solid fa-trash"></i>
  <%end %>
  <%= link_to  edit_category_path(@category[:id]) , class:"btn px-2" do %>
    <i class="fa-solid fa-gear"></i>
  <%end %>
</div>

